[submodule "DX/pugixml"]
	path = DX/pugixml
	url = https://github.com/zeux/pugixml
[submodule "DX/PhysX"]
	path = DX/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
[submodule "Programs/Sharpmake"]
	path = Programs/Sharpmake
	url = https://github.com/colibrishin/Sharpmake
