<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="directxmath" version="2024.2.15.1" targetFramework="native" />
  <package id="directxtex_desktop_win10" version="2024.2.22.1" targetFramework="native" />
  <package id="directxtk12_desktop_2019" version="2024.2.22.1" targetFramework="native" />
  <package id="inteltbb.devel.win" version="2021.12.0.496" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2021.12.0.496" targetFramework="native" />
  <package id="Microsoft.Direct3D.D3D12" version="1.614.0" targetFramework="native" />
  <package id="Microsoft.Direct3D.DXC" version="1.8.2405.17" targetFramework="native" />
</packages>